.foto{
    margin: 0;
    display: flex;
    justify-content: space-between;

}

.photo{
    margin-bottom: 20px;
    text-align: center;
    color:black;
}

 .contenedorFotos {
        display: flex; 
        flex-direction: column; 
        align-items: center;
        padding: 10px;
    }

 .fotoCity {
        margin: 10px;
        display: flex; 
        justify-content: center; 
        align-items: center;
    }

 
.textoFoto {
        list-style: none;
        background-color: green; 
        width: 100%; 
        color: white;
    }   

.barcelona{
    width: 45%;
    height: 10%;
}

.Itinerary{
    margin: 0 20%;
    padding: 10px;
}

.nombre{
    padding: 10px;
    }


.imagen{
    border-radius: 80px;
    
}

.Info{
    margin: 0;
    padding: 15px;
}

.Rating{
    display: flex;
    justify-content: space-between;
}

.View{
    background-color:#F8E3E3;
}