.main {
    padding: 10px;
    margin: 0;
    text-align: center;
}

.Head h2 {
    margin: 0 18%;
}

.Link {
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.Home {
    padding: 10px;
}